.about-container{

  width: 500px;
  height: 500px;
  text-align: center;
  /* margin-top: 20px; */
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about-container p{
  margin-top: 30px;
}
.about-container h5{
  margin-top: 10px;
}
